# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
env.bak/
.venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store
# streamlit_cache
dashboard_cache/

# PyInstaller
# Usually these files are generated if you package a Python app
*.spec
dist/
build/

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code workspace files
.vscode/

# Pipenv
Pipfile.lock

# Environment variables
.env
*.env

# Local config files
*.yaml
*.yml
